.container {
  height: 100vh;
  width: 90%;
  max-width: 450px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.add-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-form input {
  margin-right: 2rem;
}

.main-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
}
